body {
    font-family: 'Montserrat', sans-serif;
    background: #fff;
    margin: 0px;
    background: linear-gradient(#fff, #f5f1ed);
}

.banner {
    position: relative;
    width: 100%;
    margin: 0px;
}

.inicio {
    font-family: 'Montserrat', sans-serif;
    background-color: #6247aa;
    color: #fff;
    text-align: justify;
    padding: 15px;
    font-weight: bold;
    font-size: larger;
}

.lista-noticias {
    margin: 100px;
    width: 50%;
}

.noticia {
    height: 360px;
    margin-right: 30px;
}

.noticia img {
    width: 35%;
    padding: 50px;
    float: left;
    margin: 20px 0; 
    border-radius: 10px;
    margin-bottom: 10px;
    opacity: 1;
    transition: 400ms;
}

.noticia img:hover {
    opacity: 0.3;
    transform: scale(1.2);
}

.titulo-materia {
    text-align: left;
    font-size: 14;
    font-weight: bold;
    float: rigth;
    width: 100%;
    padding: 20px;
    cursor: pointer;
}

.titulo-materia:hover {
    opacity: 0.3;
    color: #6247aa;
    text-decoration: underline;
} 

.titulo-materia p {
    text-align: left;
    font-weight: bold;
    font-size: 12;
    float: right;
    width: 250;
    height: 100%;
    padding: 20px;
}

.footer {
    background-color: #6247aa;
    text-align: center;
    color: #fff;
    font-size: 12px;
    padding: 20px;
    clear: both;
}

/* .botao {
    display: inline-block;
    text-decoration: none;
    background-color: #6247aa;
    color: #fff;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 12px;
    transition: all 1s;
    cursor: pointer;
}

.botao:hover {
    background-color: #b298dc;
    opacity: 0.3;
} */

/* @media (min-width: 900px) {
    .banner p {
        font-size: 22px;
        bottom: 70px;
    }

    .inicio {
        font-size: 16px;
    }

    .noticias, .lista-noticias {
        float: left;
        width: calc(50% - 10px)
    }

    .noticia:nth-child(even) {
      margin-left: 10px;  
    }

    .botao {
        font-size: 16px;
    } */



