body {
    font-family: 'Montserrat', sans-serif;
    background: #fff;
    margin: 0px;
    background: linear-gradient(#f5f3f4, #f5f1ed);
}

.banner {
    position: relative;
    width: 100%;
}

.inicio {
    background-color: #6247aa;
    color: #fff;
    display: flex;
    padding: 15px;
    font-weight: bold;
    font-size: 1.5em;
    box-shadow: inset 0px 3px 4px rgba(0, 0, 0, 0.25);
}

main {
    width: 100%;
    display: flex;
    margin-top: 1%;
    justify-content: center;
    flex-direction: column;
}

main .noticias img {
    width: 25%;
    align-items: center;
    text-align: center;
    padding: 75px;
    float: left;
    border-radius: 10px;
    margin-bottom: 10px;
    opacity: 1;
    transition: 400ms;
}

main .noticias img:hover {
    opacity: 0.3;
    transform: scale(1.2);
}

main .noticias h1 {
    width: 70%;
    vertical-align: top;
    padding-top: 2%;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
}

main .noticias h1:hover {
    opacity: 0.3;
    color: #6247aa;
    text-decoration: underline;
} 

main .noticias p {
    width: 30%;
    align-items: center;
    padding-top: 2%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.footer {
    background-color: #6247aa;
    text-align: center;
    color: #fff;
    font-size: 0.8em;
    box-shadow: inset 0px 3px 4px rgba(0, 0, 0, 0.25);
    padding: 20px;
    clear: both;
}

@media (max-width: 900px) {
    .inicio {
        font-size: 2em;
    }

    main .noticias img {
        width: calc(75% - 10px);
        display: flex;
        padding: 50px;
        align-items: center;
        flex-direction: column;
    }

    main .noticias h1 {
        width: calc(75% - 10px);
        font-size: 1.5em;
        text-align: center;
        justify-content: space-around;
        padding: 50px;
    }

    main .noticias p {
        width: calc(75% - 10px);
        align-items: center;
        justify-content: space-around;
        display: flex;
        padding: 50px;
        padding-top: 0px;
    }
}
